.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  .centered-content {
    text-align: center;
    margin-top: 50px; /* Adjust the margin-top value as needed */
  }
  
  .login-title {
    margin-bottom: 16px;
  }
  
  .login-form {
    width: 300px;
    margin-top: 16px;
  }
  
  .login-links {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  .spacing{
    margin-top: 24px;
  }

  .captcha-container{
    margin-top: 16px;
  }
  